<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axing.crm.dao.SalesChanceMapper">
	
	<sql id="queryConditi">
		<where>
			<if test="status != null">
				status = ${status}
			</if>
			<if test="custName != null">
				and cust_name like #{custName}
			</if>
			<if test="title != null">
				and title like #{title}
			</if>
			<if test="contact != null">
				and contact like #{contact}
			</if>
		</where>
	</sql>
	
	<sql id="chanceColumns">
		s.id, contact, contact_tel, create_date, cust_name, s.description, 
			designee_date, rate, source, status, title, created_user_id, designee_id
	</sql>
	
	<!-- ///////////////////////////////////////////////////////////// -->
	
	<resultMap type="com.axing.crm.entity.SalesChance" id="chanceMap">
		<id column="id" property="id"/>
		<result column="contact" property="contact"/>
		<result column="contact_tel" property="contactTel"/>
		<result column="create_date" property="createDate"/>
		<result column="cust_name" property="custName"/>
		
		<result column="description" property="description"/>
		<result column="designee_date" property="designeeDate"/>
		<result column="rate" property="rate"/>
		<result column="source" property="source"/>
		<result column="status" property="status"/>
		
		<result column="title" property="title"/>
		<result column="createBy.id" property="createBy.id"/>
		<result column="designee.id" property="designee.id"/>
		<result column="createBy.name" property="createBy.name"/>
		<result column="designee.name" property="designee.name"/>
		
		<collection property="salesPlans" javaType="com.axing.crm.entity.SalesPlan">
			<id column="p_id" property="id"/>
			<result column="todo" property="todo"/>
			<result column="plan_date" property="date"/>
			
			<result column="plan_result" property="result"/>
			<result column="chance_id" property="chance.id"/>
		</collection>
		
	</resultMap>
	
	<!-- 获取一个 SalesChance 对象 -->
	<select id="get" resultMap="chanceMap">
		SELECT <include refid="chanceColumns"/>, u1.name as "createBy.name", u2.name as "designee.name",  p.id as "p_id", todo, plan_date, plan_result, chance_id
		FROM sales_chances s
		LEFT OUTER JOIN sales_plan p
		ON s.id = p.chance_id
		LEFT OUTER JOIN users u1
		ON s.created_user_id = u1.id
		LEFT OUTER JOIN users u2
		ON s.designee_id = u2.id
		WHERE s.id = #{chanceId}
	</select>
	
	<update id="updateStatus4" parameterType="com.axing.crm.entity.SalesChance">
		UPDATE sales_chances SET status = 4 
		WHERE id = #{id}
	</update>
	
	<update id="updateStatus3" parameterType="com.axing.crm.entity.SalesChance">
		UPDATE sales_chances SET status = 3 
		WHERE id = #{id}
	</update>
	
	<!-- 删除一条数据 -->
	<delete id="delete" parameterType="com.axing.crm.entity.SalesChance">
		delete from sales_chances
		where id = #{id}
	</delete>
	
	
	<!-- 新建/修改销售机会 -->
	<insert id="seveOrUpdate" parameterType="com.axing.crm.entity.SalesChance">
		<if test="id == null">
			insert into sales_chances s (<include refid="chanceColumns"/>)
			values(crm_seq.nextval, #{contact}, #{contactTel}, #{createDate}, #{custName}, #{description}, #{designeeDate, jdbcType=DATE}, 
				#{rate}, #{source}, #{status}, #{title}, #{createBy.id}, #{designee.id, jdbcType=INTEGER})
		</if>
		<if test="id != null">
			update sales_chances s
			set contact=#{contact}, contact_tel=#{contactTel}, create_date=#{createDate}, cust_name=#{custName}, 
				description=#{description}, designee_date=#{designeeDate, jdbcType=DATE}, rate=#{rate}, source=#{source}, 
				status=#{status}, title=#{title}, designee_id=#{designee.id, jdbcType=INTEGER}
			where id=#{id}
		</if> 
	</insert>
	
	<select id="selectTotalNumber" resultType="long">
		select count(s.id) 
		from sales_chances s
		<include refid="queryConditi"/>
	</select>
	
	<!-- 编号	客户名称	概要	联系人	联系人电话	创建时间	操作 -->
	<select id="selectContent" resultType="com.axing.crm.entity.SalesChance">
		select <include refid="chanceColumns"/>
		from (
			select rownum rn, <include refid="chanceColumns"/>
			from sales_chances s
			<include refid="queryConditi"/>) s
		<![CDATA[where rn >#{fromIndex} and rn <= #{endIndex}]]>
	</select>
	
</mapper>