<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.axing.crm.dao.UserMapper">
	
	<resultMap type="com.axing.crm.entity.User" id="userMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="enabled" property="enabled"/>
		<result column="salt" property="salt"/>
		
		<result column="role.id" property="role.id"/>
		<result column="role.name" property="role.name"/>
		
		<collection property="role.authorities" javaType="com.axing.crm.entity.Authority">
			<result column="authorityName" property="name"/>
			<result column="display_name" property="displayName"/>
			<result column="parent_authority_id" property="parentAuthority.id"/>
			<result column="url" property="url"/>
			
			<result column="p_id" property="parentAuthority.id"/>
			<result column="p_name" property="parentAuthority.name"/>
			<result column="p_display_name" property="parentAuthority.displayName"/>
		</collection>
	</resultMap>

	<select id="getByName" resultMap="userMap">
		SELECT u.id, u.name, password, u.enabled, u.salt, role_id as "role.id", r.name as "role.name", 
			a.name as "authorityName", a.display_name, a.parent_authority_id, a.url,
			p.id as "p_id", p.name as "p_name", p.display_name as "p_display_name"
		FROM users u 
		LEFT OUTER JOIN roles r
		ON u.role_id = r.id
		LEFT OUTER JOIN role_authority ra
		ON r.id = ra.role_id
		LEFT OUTER JOIN authorities a
		ON a.id = ra.authority_id
		LEFT OUTER JOIN authorities p
		ON a.parent_authority_id = p.id
		WHERE u.name = #{name}
	</select>
	

</mapper>